/* +++ IBARRA REAL NOVA +++ */
@font-face {
  font-family: "IbarraRealNova";
  font-style: normal;
  src:
    local("Ibarra Real Nova"),
    url("Ibarra_Real_Nova/IbarraRealNova-VariableFont_wght.woff2") format("woff2"),
    url("Ibarra_Real_Nova/IbarraRealNova-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "IbarraRealNova";
  font-style: italic;
  src:
    local("Ibarra Real Nova"),
    url("Ibarra_Real_Nova/IbarraRealNova-Italic-VariableFont_wght.woff2") format("woff2"),
    url("Ibarra_Real_Nova/IbarraRealNova-Italic-VariableFont_wght.ttf") format("truetype");
}

/* +++ LIBRE BASKERVILLE +++ */
@font-face {
  font-family: "LibreBaskerville";
  font-style: normal;
  src:
    local("Libre Baskerville"),
    url("Libre_Baskerville/LibreBaskerville-VariableFont_wght.woff2") format("woff2"),
    url("Libre_Baskerville/LibreBaskerville-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "LibreBaskerville";
  font-style: italic;
  src:
    local("Libre Baskerville"),
    url("Libre_Baskerville/LibreBaskerville-Italic-VariableFont_wght.woff2") format("woff2"),
    url("Libre_Baskerville/LibreBaskerville-Italic-VariableFont_wght.ttf") format("truetype");
}

/* +++ CORMORANT GARAMOND +++ */
@font-face {
  font-family: "CormorantGaramond";
  font-style: normal;
  src:
    local("Cormorant Garamond"),
    url("Cormorant_Garamond/CormorantGaramond-VariableFont_wght.woff2") format("woff2"),
    url("Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "CormorantGaramond";
  font-style: italic;
  src:
    local("Cormorant Garamond"),
    url("Cormorant_Garamond/CormorantGaramond-Italic-VariableFont_wght.woff2") format("woff2"),
    url("Cormorant_Garamond/CormorantGaramond-Italic-VariableFont_wght.ttf") format("truetype");
}

/* +++ EB GARAMOND +++ */
@font-face {
  font-family: "EBGaramond";
  font-style: normal;
  src:
    local("EB Garamond"),
    url("EB_Garamond/EBGaramond-VariableFont_wght.woff2") format("woff2"),
    url("EB_Garamond/EBGaramond-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "EBGaramond";
  font-style: italic;
  src:
    local("EB Garamond"),
    url("EB_Garamond/EBGaramond-Italic-VariableFont_wght.woff2") format("woff2"),
    url("EB_Garamond/EBGaramond-Italic-VariableFont_wght.ttf") format("truetype");
}

/* +++ INTER +++ */
@font-face {
  font-family: "Inter";
  font-style: normal;
  src:
    local("Inter"),
    url("Inter/InterVariable.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  src:
    local("Inter"),
    url("Inter/InterVariable-Italic.woff2") format("woff2");
}
